<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AddressValidation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <applicationSettings>
    <AddressValidation.Properties.Settings>
      <setting name="USPS_USER_ID" serializeAs="String">
        <value>537AJBOG4302</value>
      </setting>
      <setting name="USPS_VERIFY_URL" serializeAs="String">
        <value>http://production.shippingapis.com/ShippingAPI.dll?API=Verify</value>
      </setting>
    </AddressValidation.Properties.Settings>
  </applicationSettings>
  <connectionStrings>
    <add name="UserAddressEntities" connectionString="metadata=res://*/Model.UserAddressModel.csdl|res://*/Model.UserAddressModel.ssdl|res://*/Model.UserAddressModel.msl;provider=System.Data.SqlClient;
        provider connection string=&quot;data source=LIFIA-DB-PROD1\LP1_SQL2014;initial catalog=forms;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
        providerName="System.Data.EntityClient" />
    <add name="AddressValidationEntities" connectionString="metadata=res://*/Model.AddressValidationModel.csdl|res://*/Model.AddressValidationModel.ssdl|res://*/Model.AddressValidationModel.msl;provider=System.Data.SqlClient;
        provider connection string=&quot;data source=LIFIA-DB-PROD1\LP1_SQL2014;initial catalog=forms;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
        providerName="System.Data.EntityClient" />

    <add name="UserAddressEntitiesQA" connectionString="metadata=res://*/Model.UserAddressModel.csdl|res://*/Model.UserAddressModel.ssdl|res://*/Model.UserAddressModel.msl;provider=System.Data.SqlClient;
        provider connection string=&quot;data source=LIFIA-DB-QA1.ad.ixn.net\LS1_SQL2014;initial catalog=forms;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
        providerName="System.Data.EntityClient" />
    <add name="AddressValidationEntitiesQA" connectionString="metadata=res://*/Model.AddressValidationModel.csdl|res://*/Model.AddressValidationModel.ssdl|res://*/Model.AddressValidationModel.msl;provider=System.Data.SqlClient;
        provider connection string=&quot;data source=LIFIA-DB-QA1.ad.ixn.net\LS1_SQL2014;initial catalog=forms;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
        providerName="System.Data.EntityClient" />
        
  </connectionStrings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="Console" layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=toString,Data}" xsi:type="Console" />
      <target name="PrimaryLogFile" layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=toString,Data}" xsi:type="File" fileName="${basedir}/address-validation-${cached:cached=true:inner=${date:format=yyyy-MM-dd HH-mm-ss}}.log" archiveFileName="${basedir}/address-validation.archive.{#}.log" archiveEvery="Day" archiveNumbering="Date" archiveDateFormat="yyyy-MM-dd HH-mm-ss" maxArchiveFiles="10" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="Console,PrimaryLogFile" />
    </rules>
  </nlog>
</configuration>